body{
  margin: 0;
  text-align: center;
  color: #4O514E;
  font-family: 'Merriweather', sans-serif;
  }
h1{
  margin-top: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.62rem;
  color: #66BFBF;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
p{
  line-height: 2;
}
a{
   color: #11999E;
   text-decoration: none;
}
.profile{
  border-radius: 50%;
}
.top-container{
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}
.middle-container{
  margin: 100px 0;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 30px;
  margin-top: 50px;
}
.copyright{
  color: #EAF6F6;
}
.computer{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.chillies{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  clear: left;
}
table{
  margin: auto auto;
  text-align: center;
}
hr{
  border-style: none;
  border-top: dotted;
  margin-top: 50px;
  width: 5%;
  border-color: #66BFBF;
}
.pro{
  text-decoration: underline;
}
.intro{
  width: 30%;
  margin: auto;
}
.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top: 40px;
}
.bottom-cloud{
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.footer-link{
  line-height: 2;
  padding: 30px;
}
a:hover{
  color: #70bded;
  text-decoration: none;
}
.btn {
  margin-top: 50PX;
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #f7f2f7;
  font-size: 15px;
  background: #66BFBF;
  padding: 7px 13px 7px 13px;
  border: solid #66BFBF 2px;
  text-decoration: none;
}

.btn:hover {
  background: #11999E;
  text-decoration: none;
}
